<main class='codelet-content row' role='main'>
    <div class='col'></div>
    <article class='codelet-page-card card col-8 m-5 p-5'>
        <h1 class='card-title'><%= @codelet.name %></h1>

        <section class='card-body'>
            <section>
                <p class='card-text pt-2 pb-4'>
                    <%= @codelet.description %>
                </p>
            </section>
            <section class='bg-light p-4'>
                <label for='codelet_examples' class='card-subtitle text-muted'>Examples</label>
                <p id='codelet_examples' class='card-text'>
                    <%= sanitize(@codelet.examples).html_safe %>
                </p>
            </section>
        </section>
    </article>
    <div class='col'></div>
</main>