@import "../bootstrap.scss";
$enable-responsive-font-sizes: 'true';

.home-link:hover {
    background-color: #e3e3e3;
}

.flash-box {
    width: 100%;
}

.flash-content {
    width: 100%;
}
// consider using carousel for home page preview of codelets